<body>
  <div class="container">
    <div class="row h2">
      <span>Users Details</span>
    </div>
    <div class="row">
      <div class="col-6 d-flex justify-content-center">
        <img
          src="https://images.unsplash.com/photo-1493106819501-66d381c466f1?ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80"
          alt=""
          srcset=""
        />
      </div>
      <div class="col-6 ">
        <div>
          <label for="First Name">First Name</label>
        </div>
        <div>
          <label class="h3" for="FirstName">Scipio</label>
        </div>
        <div>
          <label for="Last Name">Last Name</label>
        </div>
        <div>
          <label class="h3" for="LastName">Afrinicus</label>
        </div>
        <div>
          <label for="Occupation">Occupation</label>
        </div>
        <div>
          <label class="h3" for="Occupation">General</label>
        </div>
        <div>
          <a href="/todos"><button class="btn btn-primary">Back</button></a>
        </div>
      </div>
    </div>
  </div>
</body>
