<form action="/users-create">
  <body class="fontface font-size-24">
    <div class="container">
      <div class="item-header bg-color-gray h2">
        <span>User Create</span>
      </div>
      <div class="margin-top-10">
        <div class="form-group">
          <label for="Id">ID</label>
          <input
            class="form-control"
            type="text"
            name="Id"
            id="Id"
            placeholder="Enter ID..."
          />
        </div>

        <div class="form-group">
          <label for="First Name">First Name</label>
          <input
            class="form-control"
            type="text"
            name="FirstName"
            id="FirstName"
            placeholder="Enter First Name..."
          />
        </div>
        <div class="form-group">
          <label for="LastName">Last Name</label>
          <input
            class="form-control"
            type="text"
            name="LastName"
            id="LastName"
            placeholder="Enter Last Name..."
          />
        </div>
        <div class="form-group">
          <label for="Occupation">Occupation</label>
          <input
            class="form-control"
            type="text"
            name="LastName"
            id="LastName"
            placeholder="Enter Occupation..."
          />
        </div>
        <div>
          <label for="Profile Picture">Profile Picture</label>
          <input
            class="form-control-file"
            type="file"
            name="ProfilePicture"
            id="ProfilePicture"
          />
        </div>
        <div class="my-2 d-flex justify-content-between">
          <button class="btn btn-primary">Create new User</button>
          <a class="btn btn-secondary text-white" (click)="onCancel()">Cancel</a>
        </div>
      </div>
    </div>
  </body>
</form>
